.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(53, 132, 151);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.rollb{
  background-color: azure;
  color:cadetblue;
  font-size: 3rem;
  font-family:'Lobster', cursive;
  margin-top: 10%;
  padding:0.25% 6%;
  text-shadow: 5px 0 #232931;
}

.rollb:hover{
  background-color:crimson;
  color: #EEEEEE;
}